<script>
	import delay from 'delay';
	import { onMount } from 'svelte';
	import LoadingPage from '../components/loading-page.svelte';
	import NavBar from '../components/nav.svelte';
	import Footer from '../components/footer.svelte';
	import { fade } from 'svelte/transition';
	import { cubicInOut } from 'svelte/easing';
	import { tweened } from 'svelte/motion';
	import { onscroll, scrollTo, scrollPos } from '../services/store.js';

	let isSeen = false;
	let onClient = false;
	let scrollY;

	let showLoadingPage = false;

	export let segment;

	onMount(async () => {
		onClient = true;

		isSeen = localStorage.getItem('isSeen');
		showLoadingPage = isSeen ? false : true;

		await delay(1500);
		showLoadingPage = false;
		localStorage.setItem('isSeen', 'true');
	});

	function scrolled(e) {
		e.preventDefault();
		scrollPos.set(scrollY);
	}
</script>

<svelte:window on:scroll={scrolled} bind:scrollY />

{#if onClient}
	{#if showLoadingPage}
		<LoadingPage />
	{:else if segment === 'control-panel'}
		<slot />
	{:else}
		<NavBar {segment} />

		<slot />

		<Footer />
	{/if}
{/if}
