<script>
	import WordFly from '../components/animate/word-fly.svelte';
	import { fade, scale } from 'svelte/transition';
	import ScrolledHere from '../components/scroll/scrolled-here.svelte';
	import { stringify } from 'query-string';
	import { createApp, improveApp } from '../services/email-body';
	import { onMount } from 'svelte';

	const email = 'us@jiknoapps.com';
	const createAppMessage = stringify({
		subject: 'Business Inquiry',
		body: createApp,
	});
	const improveAppMessage = stringify({
		subject: 'Business Inquiry',
		body: improveApp,
	});
</script>

<style>
	.over {
		min-height: calc(100vh - 62px - 70px - 20px);
	}
	.margin-top {
		margin-top: 40px !important;
	}
</style>

<svelte:head>
	<title>Contact | Jikno Apps</title>
</svelte:head>

<div class="over w3-centered">
	<h1
		class="w3-center w3-container"
		style="margin: 0; margin-top: 20px; margin-bottom: 20px;">
		<ScrolledHere>
			<WordFly text="Contact Us" />
		</ScrolledHere>
	</h1>

	<div class="w3-row">
		<div class="w3-half w3-container">
			<ScrolledHere>
				<h3 class="w3-clean margin-top">
					<WordFly
						delay={100}
						text="Looking for a website or webapp?" />
				</h3>
				<p class="w3-clean" in:fade={{ delay: 200 }}>
					<a
						rel="noreferrer noopener nofollow external"
						href="mailto:{email}?{createAppMessage}">
						We can help
					</a>
				</p>

				<h3 class="w3-clean margin-top">
					<WordFly
						delay={300}
						text="Looking for help with an existing project?" />
				</h3>
				<p class="w3-clean" in:fade={{ delay: 400 }}>
					<a
						rel="noreferrer noopener nofollow external"
						href="mailto:{email}?{improveAppMessage}">
						Tell us a bit more
					</a>
				</p>

				<h4 class="w3-clean margin-top" in:fade={{ delay: 500 }}>
					<a href="mailto:{email}">{email}</a>
				</h4>
				<div in:fade={{ delay: 600 }}>Based in Oklahoma USA</div>
			</ScrolledHere>
		</div>
		<div
			class="img w3-half w3-hide-small w3-display-container"
			style="height: 70vh">
			<img
				draggable="false"
				in:fade={{ delay: 1000, duration: 800 }}
				src="/bug-logo.svg"
				alt="Logo"
				class="w3-display-middle"
				style="width: 90%" />
		</div>
	</div>
</div>
