<script>
	import MainBlock from '../components/blocks/main-block.svelte';
	import FeaturesBlock from '../components/blocks/features-block.svelte';
	import ProsAndCons from '../components/blocks/pros-and-cons.svelte';
</script>

<svelte:head>
	<title>Home | Jikno Apps</title>
</svelte:head>

<MainBlock />
<FeaturesBlock />
<ProsAndCons />
