<script>
	import ScrolledHere from '../components/scroll/scrolled-here.svelte';
	import { inlineFly } from '../services/transition';
	import { fade, draw, scale } from 'svelte/transition';
	import Plan from '../components/plan.svelte';
	import planArr from '../services/plan';
	import { quintOut } from 'svelte/easing';

	const addArr = [
		['Ongoing Maintenance', 'SEO', 'Control Panel'],
		['Hosting', 'SSL', 'Lightning Fast Support'],
	];
</script>

<style>
	.over {
		min-height: calc(100vh - 62px - 70px - 20px);
	}
	h1 {
		margin: 20px 0;
	}
	.included {
		padding-left: calc(calc(100% - 200px) / 2);
	}
	@media (min-width: 401px) {
		.included {
			padding-left: calc(calc(100% - 400px) / 2);
		}
	}

	.included-text {
		padding: 5px 0px;
	}
	i {
		position: relative;
		top: 6px;
		color: green;
		margin-right: 5px;
	}
</style>

<svelte:head>
	<title>How It Works | Jikno Apps</title>
</svelte:head>

<div class="w3-centered over">
	<h1 class="w3-center">
		<ScrolledHere>
			{#each 'How It Works'.split(' ') as char, i}
				<span in:inlineFly={{ delay: i * 50 }}>&nbsp;{char}</span>
			{/each}
		</ScrolledHere>
	</h1>
	<div class="w3-container">
		<ScrolledHere>
			<p in:fade={{ duration: 500, delay: 300 }}>
				<big>
					The easiest way to start is by
					<a href="contact">contacting us</a>
					.
				</big>
				After discussing your needs, we will place you in one of the
				following plans:
			</p>
		</ScrolledHere>
	</div>
	<ScrolledHere>
		<div class="w3-row-padding w3-center">
			<div
				class="w3-third w3-padding w3-container"
				in:fade={{ delay: 500 }}>
				<h4>Simple</h4>
				<p>$40/month</p>
			</div>
			<div
				class="w3-third w3-padding w3-container"
				in:fade={{ delay: 700 }}>
				<h4>Intermediate</h4>
				<p>$90/month</p>
			</div>
			<div
				class="w3-third w3-padding w3-container"
				in:fade={{ delay: 900 }}>
				<h4>Complex</h4>
				<p>$200/month</p>
			</div>
		</div>
		<div class="w3-center" in:fade={{ delay: 1100 }}>
			Listed price includes website build and maintenance. Monthly billing
			starts once we have finished building the website.
		</div>
	</ScrolledHere>
	<div class="w3-container w3-center">
		<h2>
			<ScrolledHere>
				{#each 'All plans include the following'.split(' ') as char, i}
					<span in:inlineFly={{ delay: i * 100 + 100 }}>
						{@html char}
					</span>
				{/each}
			</ScrolledHere>
		</h2>
		<ScrolledHere>
			<div class="w3-row">
				<div
					class="w3-col m9 l8 w3-padding w3-align-left"
					in:fade={{ delay: 1000 }}>
					<div class="w3-row included">
						{#each addArr as add, col}
							<div class="w3-col s6 m6 l6">
								{#each add as plus, row}
									<div class="included-text w3-cell-row">
										<i class="material-icons">check</i>
										{plus}
									</div>
								{/each}
							</div>
						{/each}
					</div>
				</div>
				<div class="w3-col m3 l4 w3-padding">
					<img
						src="devices.svg"
						in:scale={{ delay: 1200 }}
						alt="Picture"
						width="100%" />
				</div>
			</div>
		</ScrolledHere>
	</div>
</div>
