<script>
	import Loader from '../../components/loader.svelte';
	import { fade } from 'svelte/transition';
	import delay from 'delay';
	import { onMount } from 'svelte';
	import * as sapper from '@sapper/app';

	let loading = true;

	onMount(async () => {
		await delay(1000);
		sapper.goto('/control-panel/sign-in', { replaceState: true });
		await delay(200);
		loading = false;
	});
</script>

<style>
	.over {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: 10;
		background: var(--background);
	}
	.loader-wrapper {
		margin: calc(50vh - 32px) 0 0 calc(50vw - 32px);
		overflow: visible;
		text-align: left;
	}
</style>

<svelte:head>
	<title>Control Panel | Jikno Apps</title>
</svelte:head>

{#if loading}
	<div class="over w3-center" transition:fade>
		<div class="loader-wrapper">
			<Loader size={100} />
		</div>
	</div>
{:else}
	<slot />
{/if}
