<script>
	import WordFly from '../../components/animate/word-fly.svelte';
	import { UIInput, UIButton } from 'svelte-toolbox';
	import delay from 'delay';
	import { fly, scale } from 'svelte/transition';
	import InlineLoader from '../../components/inline-loader.svelte';

	let canSeePassword = false;
	let error = null;
	let loading = false;

	async function submit(event) {
		event.preventDefault();
		error = null;
		loading = true;
		await delay(1000);
		error = 'Invalid credentials';
		loading = false;
	}
</script>

<style>
	form {
		max-width: 350px;
		margin: auto;
	}
	i {
		position: relative;
		top: 7px;
	}
	.error {
		background: red;
		transition: background 500ms;
		border-radius: 3px;
		color: var(--background);
	}
</style>

<svelte:head>
	<title>Sign In | Jikno Apps</title>
</svelte:head>

<div class="w3-center w3-container w3-centered">
	<h1>
		<WordFly text="Sign In" />
	</h1>
	<form on:submit={submit}>

		<div class="w3-align-left" in:fly={{ x: 300, delay: 200 }}>
			<a href="/home">
				<i class="material-icons">arrow_back</i>
				Back to website
			</a>
		</div>

		<p class:error in:fly={{ y: 50, delay: 1200 }}>
			{#if loading}
				Please Wait...
			{:else if error}{error}{:else}Welcome back!{/if}
		</p>

		<div in:scale={{ delay: 400 }}>
			<!-- TODO: Add autocomplete onto UIInput.  Waiting on https://github.com/svelte-toolbox/svelte-toolbox/issues/139 -->
			<UIInput block disabled={loading} placeholder="Username or email" />
		</div>

		<div in:scale={{ delay: 600 }}>
			<UIInput
				block
				disabled={loading}
				type={canSeePassword ? 'text' : 'password'}
				placeholder="Password"
				trailingIcon={canSeePassword ? 'visibility' : 'visibility_off'}
				trailingIconIsButton
				on:trailingiconclick={() => (canSeePassword = !canSeePassword)} />
		</div>

		<div in:scale={{ delay: 800 }} style="height: 50px; overflow: hidden;">
			<UIButton
				disabled={loading}
				primary
				color="var(--primary)"
				primaryHoverColor="var(--primary)">
				<!-- Setting the width directly on this div is bad practice.
				It is a work-around until https://github.com/svelte-toolbox/svelte-toolbox/issues/138
				is resolved. -->
				<div
					style="height: 50px; width: 260px;"
					class="w3-display-container">
					{#if loading}
						<InlineLoader />
					{:else}
						<div class="bold w3-display-middle">Sign up</div>
					{/if}
				</div>
			</UIButton>
		</div>

		<div class="w3-padding-vertical" in:fly={{ y: 300, delay: 1000 }}>
			Not a client of ours, but what to be?
			<a href="how-it-works">See how it works.</a>
		</div>
	</form>
</div>
