<script>
	import {
		onMount,
		tick,
		createEventDispatcher,
		onDestroy,
		afterUpdate,
	} from 'svelte';
	import { scrollPos } from '../../services/store.js';
	import { writable } from 'svelte/store';
	import delay from 'delay';

	const dispatch = createEventDispatcher();

	let over;
	const hasArrived = writable(false);
	let destroyed = false;
	let hidden = true;
	let display = true;
	let style = '';

	export let margin = 0;
	export let hideOnPast = false;

	onMount(async () => {
		scrollPos.subscribe((pos) => {
			if (destroyed) return;

			if (pos + window.innerHeight - margin >= over.offsetTop) {
				if (pos >= over.offsetTop + over.offsetHeight)
					hasArrived.set(!hideOnPast);
				else hasArrived.set(true);
			} else hasArrived.set(false);
		});
	});

	let prevVal;
	hasArrived.subscribe(async (val) => {
		if (prevVal === val) return;
		prevVal = val;

		if (val) {
			style = `height: ${over.offsetHeight}`;
			hidden = false;
			display = false;
			await tick();
			display = true;
			dispatch('scrolled');
		} else {
			style = '';
			hidden = true;
			dispatch('unscrolled');
		}
	});

	onDestroy(() => {
		destroyed = true;
	});
</script>

<style>
	.over {
		overflow: hidden;
		text-align: inherit;
	}
	.hidden {
		visibility: hidden;
	}
</style>

<div class="over" bind:this={over} {style} class:hidden>
	{#if display}
		<slot />
	{/if}
</div>
