<script>
	import ScrolledHere from '../scroll/scrolled-here.svelte';
	import { fade, fly } from 'svelte/transition';
	import featuresArr from '../../services/features';
	import { inlineFly } from '../../services/transition';
</script>

<style>
	.over {
		background-color: var(--secondary);
		overflow: auto;
		color: var(--background);
		padding-top: 15px;
		text-align: center;
	}
	.line {
		margin: 10px 20px;
		border: 1px solid var(--background);
		border-radius: 1px;
	}

	img {
		display: inline-block;
		width: 80%;
	}
	.text {
		height: 100%;
		text-align: left;
	}
</style>

<div class="over">
	<div class="w3-centered">
		<div class="w3-row-padding">
			<div class="w3-col">
				<ScrolledHere>
					<div class="w3-h3">
						{#each 'We build web applications and websites.'.split(' ') as char, i}
							<span in:inlineFly={{ y: 50, delay: 400 + i * 60 }}>
								{char}
							</span>
						{/each}
					</div>
				</ScrolledHere>
				<ScrolledHere>
					<div class="w3-h2" in:inlineFly={{ y: 100, duration: 400 }}>
						{#each 'The <em>right</em> way.'.split(' ') as char, i}
							<span in:inlineFly={{ y: 50, delay: 500 + i * 60 }}>
								{@html char}
							</span>
						{/each}
					</div>
				</ScrolledHere>
			</div>
		</div>
		<ScrolledHere>
			<div class="line" in:fade={{ delay: 800 }} />
		</ScrolledHere>

		<ScrolledHere>
			{#each featuresArr as { title, description, image }, i}
				<div
					class="w3-row-padding w3-padding-vertical"
					in:fly={{ y: -400, delay: 1000 + 50 * i }}>
					{#if i % 2 === 0}
						<div
							class="w3-col s12 m6 l5 w3-align-left
							w3-mobile-center w3-hide-small">
							<img draggable="false" src={image} alt="Image" />

						</div>
					{/if}
					<div class="w3-col s12 m6 l7 text">
						<h3>{title}</h3>
						<p>
							{@html description}
						</p>
					</div>
					<div
						class="w3-col s12 m6 l5 w3-align-left w3-mobile-center {i % 2 === 0 ? 'w3-hide-medium w3-hide-large' : ''}">
						<img draggable="false" src={image} alt="Website icon" />
					</div>
				</div>
			{/each}
		</ScrolledHere>
	</div>
</div>
