<script>
	import { fade, fly } from 'svelte/transition';
	import { onMount } from 'svelte';
	import delay from 'delay';
	import { cubicInOut } from 'svelte/easing';
	import Canvas from '../animate/canvas.svelte';

	let showScrollMessage = false;
	let showLogo = false;
	let showText = false;

	let over;

	onMount(async () => {
		showLogo = true;
		showText = true;

		await delay(2000);
		showScrollMessage = true;
	});

	function nextSection() {
		console.log('Work in progress...');
	}
</script>

<style>
	.canvas {
		position: absolute;
		top: 0;
		right: 0;
		width: 100vw;
		height: 100vh;
	}
	.over {
		height: calc(100vh - 62px);
		margin: auto;
		user-select: none;
		position: relative;
		z-index: 1;
	}
	.left,
	.right {
		display: inline-block;
		height: calc(100% - 80px);
		vertical-align: top;
	}
	.left {
		width: calc(40% - 10px);
		text-align: right;
	}
	.right {
		width: calc(60% - 10px);
		text-align: left;
	}
	.scroll {
		height: 80px;
		text-align: center;
		user-select: none;
	}

	img {
		width: 80%;
		margin-top: calc(calc(50vh - 121px) - calc(calc(40vw * 0.8) / 2));
	}
	.text {
		font-size: 12vw;
		color: var(--foreground);
		margin-top: calc(50vh - 121px - 6vw - 2.5vw);
	}
	.apps-text {
		/* padding-left: 10vw; */
		font-size: 5vw;
	}
	.apps-text,
	.text,
	.des {
		position: relative;
		top: -100px;
	}
	.des {
		font-size: 1.5vw;
		color: var(--secondary);
	}
	@media (max-width: 965px) {
		.apps-text {
			font-size: 5.5vw;
		}
		.des {
			font-size: 3vw;
		}
		.apps-text,
		.text,
		.des {
			position: relative;
			top: 0;
		}
	}
	@media (max-width: 500px) {
		.apps-text {
			font-size: 6vw;
		}
		.des {
			font-size: 3.5vw;
		}
		.apps-text,
		.text,
		.des {
			position: relative;
			top: 0;
		}
	}
</style>

<div class="canvas">
	<Canvas />
</div>

<div class="over" bind:this={over}>
	<div class="left">
		{#if showLogo}
			<img
				in:fly={{ x: -100, y: 100, duration: 400 }}
				src="bug-logo.svg"
				alt="Logo"
				draggable="false" />
		{/if}
	</div>

	<div class="right">
		{#if showText}
			<div class="text">
				{#each 'JIKNO' as letter, index}
					<span in:fade={{ delay: 300 + index * 150, duration: 800 }}>
						{letter}
					</span>
				{/each}
			</div>
			<div
				in:fly={{ y: 200, delay: 1000, duration: 800 }}
				class="apps-text">
				APPS
			</div>
			<p in:fade={{ delay: 1700 }} class="des">
				Developing software for the web.
			</p>
		{/if}
	</div>

	<div class="scroll" on:click={nextSection}>
		{#if showScrollMessage}
			<div in:fly={{ y: -200, duration: 2000 }}>
				SCROLL
				<div
					style="font-size: 40px; font-weight: 100; color:
					var(--primary)">
					|
				</div>
			</div>
		{/if}
	</div>
</div>
