<script>
	import ComparisonSheet from '../../services/comparison-sheet';
	import { UIButton } from 'svelte-toolbox';
	import ScrolledHere from '../scroll/scrolled-here.svelte';
	import WordFly from '../animate/word-fly.svelte';
	import { scale, fade } from 'svelte/transition';

	const order = ['jikno', 'wix', 'optuno', 'wordpress'];

	function toTitleCase(txt) {
		let arr = txt.split('');
		arr[0] = arr[0].toUpperCase();
		return arr.join('');
	}
</script>

<style>
	.over {
		background-color: var(--background);
	}
	table {
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;
	}
	i {
		font-size: 20px;
	}
	td {
		padding: 10px 16px 5px 16px;
		border: 1px solid var(--foreground-10);
	}
	.icon-check {
		color: var(--clear);
	}
	.icon-times {
		color: var(--danger);
	}
	.icon-warn {
		color: var(--warn);
	}
	/* .title-text,
	.icon-warn {
		border-bottom: 1px dotted var(--foreground);
	} */
</style>

<ScrolledHere>
	<div class="over">
		<h2 class="w3-center">
			<WordFly text="Features Comparison Sheet" delay={200} />
		</h2>
		<div class=" w3-container w3-hide-small w3-centered">
			<table in:scale={{ delay: 500 }}>
				<tr>
					<th />
					{#each order as provider}
						<th class="w3-h4 w3-center">{toTitleCase(provider)}</th>
					{/each}
				</tr>
				{#each ComparisonSheet as row}
					<tr>
						<td class="title">
							<span class="title-text">{row.value}</span>
						</td>
						{#each order as key}
							<td class="w3-center">
								<i
									class="icon-{typeof row[key] === 'string' ? 'warn' : row[key] ? 'check' : 'times'}" />
							</td>
						{/each}
					</tr>
				{/each}
			</table>
		</div>
		<div class="w3-container w3-center w3-hide-large w3-hide-medium">
			<p>Coming soon!</p>
		</div>
		<div
			class="w3-center w3-padding-vertical"
			in:fade={{ delay: 1000, duration: 1000 }}>
			<p>Want to try us out?</p>
			<UIButton href="how-it-works" scrollToTop>
				See how it works
			</UIButton>
		</div>
	</div>
</ScrolledHere>
