<style>
	.over {
		background: var(--background);
		box-sizing: unset;
		padding: 10px;
	}
	img {
		display: block;
		margin: auto;
		height: 50px;
	}
</style>

<div class="over">
	<img src="full-logo.svg" alt="Jikno" />
</div>
