<script>
	import { fade } from 'svelte/transition';
</script>

<style>
	.over {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: 100;
		background: radial-gradient(var(--primary-70), var(--primary));
	}
	.center {
		margin-top: calc(50vh - calc(50px));
		text-align: center;
	}
</style>

<div class="over" out:fade>
	<div class="center">
		<h1 in:fade>Good to see you!</h1>
	</div>
</div>
