<script>
	import { cubicIn } from 'svelte/easing';
	import { onMount } from 'svelte';
	import { fade, fly } from 'svelte/transition';
	import delay from 'delay';
	import { stores } from '@sapper/app';
	import PanelButton from './panel-button.svelte';

	const { page } = stores();

	let showBar = false;
	let showMenu = false;

	page.subscribe((_) => {
		showMenu = false;
	});

	const links = [
		{
			name: 'Home',
			slug: 'home',
		},
		{
			name: 'How It Works',
			slug: 'how-it-works',
		},
		{
			name: 'Contact',
			slug: 'contact',
		},
	];

	export let segment;

	onMount(async () => {
		showBar = true;
	});

	function slide(node, { duration = 1000, delay = 500 }) {
		return {
			duration,
			delay,
			css: (t) => {
				const easing = cubicIn(t);

				return `
					opacity: ${easing};
					width: 100%;
					position: relative;
					right: ${(1 - easing) * 100}%;
				`;
			},
		};
	}
</script>

<style>
	.over .w3-hide-small {
		height: 20px;
		padding: 20px;
		box-sizing: unset;
		position: relative;
		z-index: 1;
	}
	.mobile-nav {
		height: 40px;
		padding: 10px;
		box-sizing: unset;
		position: relative;
		z-index: 1;
	}
	a {
		color: var(--foreground);
		margin: 10px;
		font-weight: 500;
		text-transform: uppercase;
	}
	a:hover {
		color: var(--flash);
	}
	a.active {
		border-bottom: 2px solid var(--flash);
		color: var(--flash) !important;
	}
	.bar {
		border: 1px solid var(--primary);
	}
	.dummy {
		height: 63px;
	}
	img {
		position: absolute;
		top: 5px;
		left: 5px;
		height: 50px;
	}
	.menu {
		background: var(--background);
		position: fixed;
		top: 0;
		right: 0%;
		left: 0;
		bottom: 0;
		z-index: 100;
	}
</style>

{#if showBar}
	<div class="over">
		<div class="desktop w3-hide-small">
			{#each links as { name, slug }, i}
				<a
					class:active={segment === slug}
					href={slug}
					in:fade={{ duration: 1000, delay: i * 300 + 1500 }}>
					{name}
				</a>
			{/each}
			<div
				class="w3-right"
				style="position: relative; top: -5px"
				in:fade={{ duration: 1000, delay: links.length * 300 + 1500 }}>
				<PanelButton />
			</div>
		</div>
		<div class="mobile w3-hide-large w3-hide-medium mobile-nav">
			<a href="home">
				<img
					draggable="false"
					src="bug-logo.svg"
					alt="Home"
					in:fade={{ delay: 1500, duration: 1000 }} />
			</a>
			<button
				class="w3-simplify w3-clean w3-right"
				on:click={() => (showMenu = true)}>
				<i
					class="material-icons"
					style="font-size: 40px; color: var(--primary)"
					in:fade={{ delay: 1800, duration: 1000 }}>
					menu
				</i>
			</button>
		</div>
	</div>

	<div class="bar" in:slide />
{:else}
	<div class="dummy" />
{/if}

{#if showMenu}
	<div class="menu" transition:fly={{ x: 605 }}>
		<div class="mobile-nav">
			<button
				class="w3-simplify w3-clean w3-right"
				on:click={() => (showMenu = false)}>
				<i
					class="material-icons"
					style="font-size: 40px; color: var(--primary)"
					in:fade>
					clear
				</i>
			</button>
		</div>

		{#each links as { name, slug }, i}
			<div class="w3-center w3-padding">
				<a
					class:active={segment === slug}
					href={slug}
					in:fade={{ duration: 1000, delay: i * 200 }}>
					{name}
				</a>
			</div>
		{/each}

		<div
			class="w3-center w3-padding"
			in:fade={{ duration: 1000, delay: links.length * 200 }}>
			<PanelButton />
		</div>
	</div>
{/if}
