<script>
	import { UIButton } from 'svelte-toolbox';

	export let delay;
	export let name;
	export let description;
	export let features;
	export let price;
</script>

<style>
	.over {
		border: var(--borders) solid var(--foreground);
	}
</style>

<div class="w3-center over w3-round w3-container">
	<h4>{name}</h4>
	<p class="w3-small w3-align-left">
		{@html description}
	</p>
	{#if features}
		<ul>
			{#each features as feature}
				<li>{feature}</li>
			{/each}
		</ul>
	{/if}
	<p>
		{@html price}
	</p>
	<p>
		<UIButton outlined>Request</UIButton>
	</p>
</div>
