/* global.css - Any styles put here will effect the whole site */
:root {
	--primary: rgb(0, 32, 70);
	--secondary: rgb(55, 88, 107);
	--flash: rgb(221, 151, 0);

	--background: rgb(249, 249, 249);
	--foreground: rgb(32, 32, 32);
	--borders: 0.5px;

	--danger: rgb(150, 0, 0);
	--clear: green;
	--warn: rgb(255, 208, 0);
}

* {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.s-toolbox-ui-button span,
.bold {
	font-weight: 500;
}

a {
	text-decoration: none;
	color: var(--secondary);
	transition: color 0.3s;
}
a:hover {
	text-decoration: none;
	color: var(--flash);
}

:root {
	font-family: 'Roboto', sans-serif;

	/* ripple */
	--ripple-color: var(--foreground-10);

	/* buttons */
	--buttons: var(--flash);
	--primary-buttons-text-color: var(--background);
	--buttons-hover-color: var(--flash-18);
	--primary-buttons-hover-color: var(--buttons);
	--buttons-ripple-color: var(--flash-42);
	--primary-buttons-ripple-color: var(--background-30);

	/* inputs */
	--inputs: var(--primary);
	--inputs-background: #ecebeb;
	--inputs-background-hover: #ebebeb;
	--inputs-background-focus: #e7e4e4;
	--inputs-placeholder: #696969;
	--inputs-outline: grey;
	--inputs-outline-hover: var(--inputs-outline);

	/* switch */
	--switch-on-color: green;
	--switch-off-color: #ddd;
	--switch-on-color-track: rgba(16, 122, 4, 0.5);
	--switch-off-color-track: #aaa;
	--switch-active-color: rgba(187, 187, 187, 0.253);
	--switch-on-active-color: rgba(16, 122, 4, 0.2);
	--switch-hover-color: rgba(0, 0, 0, 0.07);
	--switch-hover-on-color: rgba(16, 112, 4, 0.07);

	/* IconButtons */
	--icon-buttons: var(--buttons);
	--icon-buttons-hover: rgba(0, 0, 0, 0.07);
	--icon-buttons-active: rgba(0, 0, 0, 0.1);
	--icon-buttons-ripple: rgba(0, 0, 0, 0.2);

	/* Card */
	--card-background-color: rgba(0, 0, 0, 0.05);
	--card-background-color-hover: rgba(0, 0, 0, 0);
	--card-outline-color: #777;
	--card-outline-color-hover: #999;

	/* Checkbox */
	--checkbox-color: rgb(48, 59, 166);
	--checkbox-color-off: #555;
	--checkbox-hover-color: rgba(48, 59, 166, 0.1);
	--checkbox-hover-color-off: rgba(85, 85, 85, 0.1);
	--checkbox-focus-color: rgba(48, 59, 166, 0.2);
	--checkbox-focus-color-off: rgba(85, 85, 85, 0.2);
	--checkbox-ripple-color: rgba(48, 59, 166, 0.3);
	--checkbox-ripple-color-off: rgba(85, 85, 85, 0.3);

	/* error */
	--all-errors: #b00020;
}
