@charset "UTF-8";

@font-face {
	font-family: 'jikno-apps';
	src: url('fonts/jikno-apps.eot');
	src: url('fonts/jikno-apps.eot?#iefix') format('embedded-opentype'),
		url('fonts/jikno-apps.woff') format('woff'),
		url('fonts/jikno-apps.ttf') format('truetype'),
		url('fonts/jikno-apps.svg#jikno-apps') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: 'jikno-apps' !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^='icon-']:before,
[class*=' icon-']:before {
	font-family: 'jikno-apps' !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
	content: '\64';
}
.icon-times:before {
	content: '\65';
}
.icon-warn:before {
	content: '\61';
}
