*,
*:before,
*:after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
html,
body {
	padding: 0;
	margin: 0;
	background-color: var(--background);
}
.w3-container:after,
.w3-container:before,
.w3-panel:after,
.w3-panel:before,
.w3-row:after,
.w3-row:before,
.w3-row-padding:after,
.w3-row-padding:before,
.w3-cell-row:before,
.w3-cell-row:after,
.w3-clear:after,
.w3-clear:before,
.w3-bar:before,
.w3-bar:after {
	content: '';
	display: table;
	clear: both;
}
.w3-col,
.w3-half,
.w3-third,
.w3-twothird,
.w3-threequarter,
.w3-quarter {
	float: left;
	width: 100%;
}
.w3-col.xs1 {
	width: 8.33333%;
}
.w3-col.xs2 {
	width: 16.66666%;
}
.w3-col.xs3 {
	width: 24.99999%;
}
.w3-col.xs4 {
	width: 33.33333%;
}
.w3-col.xs5 {
	width: 41.66666%;
}
.w3-col.xs6 {
	width: 49.99999%;
}
.w3-col.xs7 {
	width: 58.33333%;
}
.w3-col.xs8 {
	width: 66.66666%;
}
.w3-col.xs9 {
	width: 74.99999%;
}
.w3-col.xs10 {
	width: 83.33333%;
}
.w3-col.xs11 {
	width: 91.66666%;
}
.w3-col.xs12 {
	width: 99.99999%;
}
@media (min-width: 401px) {
	.w3-col.s1 {
		width: 8.33333%;
	}
	.w3-col.s2 {
		width: 16.66666%;
	}
	.w3-col.s3 {
		width: 24.99999%;
	}
	.w3-col.s4 {
		width: 33.33333%;
	}
	.w3-col.s5 {
		width: 41.66666%;
	}
	.w3-col.s6 {
		width: 49.99999%;
	}
	.w3-col.s7 {
		width: 58.33333%;
	}
	.w3-col.s8 {
		width: 66.66666%;
	}
	.w3-col.s9 {
		width: 74.99999%;
	}
	.w3-col.s10 {
		width: 83.33333%;
	}
	.w3-col.s11 {
		width: 91.66666%;
	}
	.w3-col.s12 {
		width: 99.99999%;
	}
}
@media (min-width: 601px) {
	.w3-col.m1 {
		width: 8.33333%;
	}
	.w3-col.m2 {
		width: 16.66666%;
	}
	.w3-col.m3,
	.w3-quarter {
		width: 24.99999%;
	}
	.w3-col.m4,
	.w3-third {
		width: 33.33333%;
	}
	.w3-col.m5 {
		width: 41.66666%;
	}
	.w3-col.m6,
	.w3-half {
		width: 49.99999%;
	}
	.w3-col.m7 {
		width: 58.33333%;
	}
	.w3-col.m8,
	.w3-twothird {
		width: 66.66666%;
	}
	.w3-col.m9,
	.w3-threequarter {
		width: 74.99999%;
	}
	.w3-col.m10 {
		width: 83.33333%;
	}
	.w3-col.m11 {
		width: 91.66666%;
	}
	.w3-col.m12 {
		width: 99.99999%;
	}
}
@media (min-width: 993px) {
	.w3-col.l1 {
		width: 8.33333%;
	}
	.w3-col.l2 {
		width: 16.66666%;
	}
	.w3-col.l3 {
		width: 24.99999%;
	}
	.w3-col.l4 {
		width: 33.33333%;
	}
	.w3-col.l5 {
		width: 41.66666%;
	}
	.w3-col.l6 {
		width: 49.99999%;
	}
	.w3-col.l7 {
		width: 58.33333%;
	}
	.w3-col.l8 {
		width: 66.66666%;
	}
	.w3-col.l9 {
		width: 74.99999%;
	}
	.w3-col.l10 {
		width: 83.33333%;
	}
	.w3-col.l11 {
		width: 91.66666%;
	}
	.w3-col.l12 {
		width: 99.99999%;
	}
}
.w3-rest {
	overflow: hidden;
}
.w3-stretch {
	margin-left: -16px;
	margin-right: -16px;
}
.w3-cell-row {
	display: table;
	width: 100%;
}
.w3-cell {
	display: table-cell;
}
.w3-cell-top {
	vertical-align: top;
}
.w3-cell-middle {
	vertical-align: middle;
}
.w3-cell-bottom {
	vertical-align: bottom;
}
.w3-hide {
	display: none !important;
}
.w3-show-block,
.w3-show {
	display: block !important;
}
.w3-show-inline-block {
	display: inline-block !important;
}
@media (max-width: 1205px) {
	.w3-auto {
		max-width: 95%;
	}
}
@media (max-width: 600px) {
	.w3-mobile-center {
		text-align: center !important;
	}
	.w3-modal-content {
		margin: 0 10px;
		width: auto !important;
	}
	.w3-modal {
		padding-top: 30px;
	}
	.w3-dropdown-hover.w3-mobile .w3-dropdown-content,
	.w3-dropdown-click.w3-mobile .w3-dropdown-content {
		position: relative;
	}
	.w3-hide-small {
		display: none !important;
	}
	.w3-mobile {
		display: block;
		width: 100% !important;
	}
	.w3-bar-item.w3-mobile,
	.w3-dropdown-hover.w3-mobile,
	.w3-dropdown-click.w3-mobile {
		text-align: center;
	}
	.w3-dropdown-hover.w3-mobile,
	.w3-dropdown-hover.w3-mobile .w3-btn,
	.w3-dropdown-hover.w3-mobile .w3-button,
	.w3-dropdown-click.w3-mobile,
	.w3-dropdown-click.w3-mobile .w3-btn,
	.w3-dropdown-click.w3-mobile .w3-button {
		width: 100%;
	}
}
@media (max-width: 768px) {
	.w3-modal-content {
		width: 500px;
	}
	.w3-modal {
		padding-top: 50px;
	}
}
@media (min-width: 993px) {
	.w3-modal-content {
		width: 900px;
	}
	.w3-hide-large {
		display: none !important;
	}
	.w3-sidebar.w3-collapse {
		display: block !important;
	}
}
@media (max-width: 992px) and (min-width: 601px) {
	.w3-hide-medium {
		display: none !important;
	}
}
@media (max-width: 992px) {
	.w3-sidebar.w3-collapse {
		display: none;
	}
	.w3-main {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.w3-auto {
		max-width: 100%;
	}
}
.w3-top,
.w3-bottom {
	position: fixed;
	width: 100%;
	z-index: 1;
}
.w3-top {
	top: 0;
}
.w3-bottom {
	bottom: 0;
}
.w3-overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
}
.w3-display-topleft {
	position: absolute;
	left: 0;
	top: 0;
}
.w3-display-topright {
	position: absolute;
	right: 0;
	top: 0;
}
.w3-display-bottomleft {
	position: absolute;
	left: 0;
	bottom: 0;
}
.w3-display-bottomright {
	position: absolute;
	right: 0;
	bottom: 0;
}
.w3-display-middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.w3-display-left {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(0%, -50%);
	-ms-transform: translate(-0%, -50%);
}
.w3-display-right {
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
}
.w3-display-topmiddle {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
}
.w3-display-bottommiddle {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
}
.w3-display-container:hover .w3-display-hover {
	display: block;
}
.w3-display-container:hover span.w3-display-hover {
	display: inline-block;
}
.w3-display-hover {
	display: none;
}
.w3-display-position {
	position: absolute;
}
.w3-circle {
	border-radius: 50%;
}
.w3-round-small {
	border-radius: 2px;
}
.w3-round,
.w3-round-medium {
	border-radius: 4px;
}
.w3-round-large {
	border-radius: 8px;
}
.w3-round-xlarge {
	border-radius: 16px;
}
.w3-round-xxlarge {
	border-radius: 32px;
}
.w3-round-circle {
	border-radius: 50%;
}
.w3-row-padding,
.w3-row-padding > .w3-half,
.w3-row-padding > .w3-third,
.w3-row-padding > .w3-twothird,
.w3-row-padding > .w3-threequarter,
.w3-row-padding > .w3-quarter,
.w3-row-padding > .w3-col {
	padding: 0 8px;
}
.w3-card,
.w3-card-2 {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
		0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.w3-card-4,
.w3-hover-shadow:hover {
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),
		0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.w3-margin {
	margin: 16px !important;
}
.w3-margin-top {
	margin-top: 16px !important;
}
.w3-margin-bottom {
	margin-bottom: 16px !important;
}
.w3-margin-left {
	margin-left: 16px !important;
}
.w3-margin-right {
	margin-right: 16px !important;
}
.w3-padding-small {
	padding: 4px 8px !important;
}
.w3-padding {
	padding: 8px 16px !important;
}
.w3-padding-large {
	padding: 12px 24px !important;
}
.w3-padding-16 {
	padding-top: 16px !important;
	padding-bottom: 16px !important;
}
.w3-padding-24 {
	padding-top: 24px !important;
	padding-bottom: 24px !important;
}
.w3-padding-32 {
	padding-top: 32px !important;
	padding-bottom: 32px !important;
}
.w3-padding-48 {
	padding-top: 48px !important;
	padding-bottom: 48px !important;
}
.w3-padding-64 {
	padding-top: 64px !important;
	padding-bottom: 64px !important;
}
.w3-padding-vertical {
	padding: 20px 0 !important;
}
.w3-left {
	float: left !important;
}
.w3-right {
	float: right !important;
}

.w3-centered {
	max-width: 1000px;
	margin: auto;
}
.w3-center {
	text-align: center;
}

html,
body {
	font-family: Verdana, sans-serif;
	font-size: 15px;
	line-height: 1.5;
}
html {
	overflow-x: hidden;
}
.w3-display-container {
	position: relative;
}
.w3-align-right {
	text-align: right;
}
.w3-align-left {
	text-align: left;
}
.w3-clean {
	margin: 0 !important;
	padding: 0 !important;
}

:root {
	--size: 21px;
}
@media (max-width: 965px) {
	:root {
		--size: 19px;
	}
}
@media (max-width: 500px) {
	:root {
		--size: 16px;
	}
}

p {
	font-size: var(--size);
}
h6,
.w3-h6 {
	font-size: calc(var(--size) * 0.85);
}
h5,
.w3-h5 {
	font-size: calc(var(--size) * 1.05);
}
h4,
.w3-h4 {
	font-size: calc(var(--size) * 1.2);
}
h3,
.w3-h3 {
	font-size: calc(var(--size) * 1.5);
}
h2,
.w3-h2 {
	font-size: calc(var(--size) * 1.68);
}
h1,
.w3-h1 {
	font-size: calc(var(--size) * 2);
}

p {
	font-size: var(--size);
}

.w3-container,
.w3-panel {
	padding: 0.01em 16px;
}
.w3-panel {
	margin-top: 16px;
	margin-bottom: 16px;
}
.w3-small {
	font-size: var(--size * 0.5);
}
.w3-simplify {
	border: none;
	background: none;
	outline: none;
}
button {
	cursor: pointer;
}
