<script>
	import { onMount } from 'svelte';

	onMount(() => {
		window.particlesJS.load('particles-js', 'particles.json', function() {
			console.log('callback - particles.js config loaded');
		});
	});
</script>

<style>
	#particles-js {
		width: 100%;
		height: 100%;
		opacity: 0.4;
	}
	@media (max-width: 600px) {
		#particles-js {
			filter: blur(1.7px);
		}
	}
</style>

<div id="particles-js" />
