<script>
	import { inlineFly } from '../../services/transition';

	export let text = 'Watch me fly!';
	export let delay = 50;
</script>

<style>
	.over {
		overflow: hidden;
	}
	span {
		overflow: hidden;
	}
</style>

<div class="over">
	{#each text.split(' ') as char, i}
		<span in:inlineFly={{ delay: i * 50 + delay }}>
			{@html char}
		</span>
	{/each}
</div>
